{% include header.html %}


<div class="post-wrapper">
    <h1 class="post-title"><a class="column-link" href="/columns/{{ page.column }}">{{ page.title }}</a></h1>
    <p class="post-date"> {{ page.date | date: "%b %-d, %Y" }}</p>
    {{ content }}
</div>

<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/js/post.js" type="text/javascript"></script>



<div class="container">

  <div class="main-template">
  <hr>
    {% include post_social_media.html %}
  </div>

</div>

{% include footer.html %}