{% include header.html %}

<div class="container">

  <div class="main-template">



	<div class="cell border-box-sizing text_cell rendered">
		<div class="prompt input_prompt">
		</div>
			<div class="inner_cell">
			<div class="text_cell_render border-box-sizing rendered_html">
			<h1 class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
			<p>MIT-算法导论学习笔记</p>
			</div>
		   </div>
	</div>
   <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>   
    {{ content }}
  </div>

</div><!-- /.container -->

<div class="container">

  <div class="main-template">
  <hr>
    {% include post_social_media.html %}
  </div>

</div><!-- /.container -->

{% include footer.html %}